# PostgreSQL connection string.
# Example: postgresql://postgres:postgres@127.0.0.1:5432/sceptix
DATABASE_URL=

# The public base URL used when generating shortened links.
# Local development: http://localhost:3000
# Production: https://url.sceptix.in
NEXT_PUBLIC_SITE_URL=
